{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style/add.css' %}">
{% endblock styles %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="form">
            <form action="{% url 'addEmp' %}" method="post">
                {% csrf_token %}
                <h2>Add an Employee</h2>
                <div>
                    <label for="id">ID:</label>
                    <input type="number" name="id" placeholder="Id" required><span id="empID" class="errorID"></span>
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="Name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="text" name="address" placeholder="Address">
                </div>
                <div>
                    <label for="phone">Phone Number:</label>
                    <input type="text" name="phone" placeholder="Phone">
                </div>
                <div>
                    <label for="gender">Gender:</label>
                    <input type="radio" name="gender" value="male"><label>Male</label>
                    <input type="radio" name="gender" value="female"><label>Female</label>
                </div>
                <div>
                    <label for="marital_status">Marital Status:</label>
                    <select name="marital" id="marital_status">
                        <option value=""></option>
                        <option value="single">Single</option>
                        <option value="taken">Taken</option>
                        <option value="married">Married</option>
                        <option value="divorced">Divorced</option>
                        <option value="divorced">Widowed</option>
                    </select>
                </div>
                <div>
                    <label for="salary">Salary:</label>
                    <input type="text" name="salary" placeholder="Salary">
                </div>
                <div>
                    <label for="birth">Date Of Birth:</label>
                    <input type="date" name="dob" placeholder="Date of Birth">
                </div>
                <br><br>
                <div>
                    <input class="sub" type="reset" value="Reset">
                    <input class="sub" type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}