{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock styles %}

{% block content %}
<h1 style="text-align: center;">
    Welcome to HR Insight
</h1>
<h3>
    <b>Gain Valuable Insights into the World of HR</b>
</h3>
<div>
    <h3>To Search for an Employee:</h3>
    <form id="search">
        <input type="text" name="search" placeholder="Search by name" id="sName">
        <button type="submit" id="sBtn">Search</button>
    </form>
</div>
<br>
<div class="tData">
    <table style="text-align: center;" id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Remaining vacation days</th>
                <th>Approved vacation days</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Marital status</th>
                <th>Salary</th>
                <th>DOB</th>
                <th></th><th></th>
            </tr>
        </thead>
        <tbody id="table-body">
        {% for emp in employees %}
            <tr>
                <td>{{emp.ID}}</td>
                <td>{{emp.Name}}</td>
                <td>{{emp.Remaining_vacation_days}}</td>
                <td>{{emp.Approved_vacation_days}}</td>
                <td>{{emp.Email}}</td>
                <td>{{emp.Address}}</td>
                <td>{{emp.Phone}}</td>
                <td>{{emp.Gender}}</td>
                <td>{{emp.Marital_status}}</td>
                <td>{{emp.Salary}}</td>
                <td>{{emp.Date_of_birth}}</td>
                <td><a class='link' href="{% url 'edit' id=emp.ID %}">Edit</a></td>
                <td class='add'><a class='link' href="{% url 'vacForm' id=emp.ID %}">Add Vacation</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function searchEmp() {
    let search = document.getElementById("sName").value.toLowerCase();
    let rows = document.querySelectorAll("#table-body tr");
    rows.forEach(function(row) {
        let name = row.cells[1].textContent.toLowerCase();
        if (name.includes(search)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
    });
    }

    document.getElementById("sBtn").addEventListener("click", function(event) {
    event.preventDefault();
    searchEmp();
});
</script>

{% endblock content %}

{% comment %} {% block scripts %}

{% endblock scripts %} {% endcomment %}