:root {
    --grey: #C9D1D5;
    --darkgrey: #818c98;
    --darkblue: #0C243C;
    --turquoise: #55C2C3;
    --applewhite: #fbfbfb;
    --darkturq: #4eb3b5;
}


body {
    background: var(--applewhite);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.bg {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--turquoise);
    border-radius: 10px;
    box-shadow: 0 0 6px #3e3e3e;
    padding: 10px;
    width: 500px;
    height: 350px;
}

.login h1 {
    color: var(--darkblue);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.sub {
    background: var(--darkblue);
    color: var(--applewhite);
    font-size: 16px;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: auto 0 10px 30px;
}

.sub:hover {
    background: var(--applewhite);
    color: var(--darkblue);
}

.login label {
    color: var(--darkblue);
    font-size: 18px;
    font-weight: 500;
}

.login input[type=text], .login input[type=password] {
    background-color: var(--applewhite);
    border-radius: 10px;
    border: 1px solid #0C243C;
    width: 100%;
    height: 30px;
}

::placeholder {
    color: var(--darkblue);
    opacity: 0.7;
}

img {
    position: sticky;
    z-index: 2;
    left: 5px;
    top: 5px;
}

.error_login{
    display: block;
    background-color: #fa4968;
    color: white;
    font-weight: 900;
    font-size: large;
    position: absolute;
    top: 35px;
    height: 30px;
    width: 250px;
    padding-top: 10px;
    border-radius: 15px;
    text-align: center;
}